/*zerando as margens e o preenchimento e pedindo para calcular as caixas automaticamente*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, select, textarea{
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #E5E5E5;
}

/* a tag before que uma tag para se fazer elementos anterior ao body e o z-indez coloca ele 
atras de tudo pq manda ele para a camada mais baixa*/
body::before{
  /*É necessario criar um objeto vazio primeiro para depois criar de forma retangular*/
  content: '';
  width: 100%;
  height: 368px;
  background-color: #121214;

  /*Sempre quando se cria um objeto é necessario definindo a sua posição para o objeto aparecer na tela*/
  position: absolute;
  top: 0;
  left: 0;
  
  /* Z index é a tag para definir aonde esse objeto vai se encontrar no plano carteziano 
  no nosso caso é necessário que se encontre atras do texto por isso ele recebe -1*/
  z-index: -1;
}

.page{
  width: 736px;
  margin: 0 auto;
}

header{
  width: 319px;
  margin-top: 74px;
}

header h1{
  font-family: 'Archivo', sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: white;
}

header p{
  margin-top: 24px;
  line-height: 36px;
  font-size: 16px;
  color: #42D3FF;
}

form{
  margin-top: 38px;
  background-color: #FAFAFC;
  min-height: 300px;
  border-radius: 8px 8px 0 0;
  padding: 64px;
  
  /*utilizado para distanciar um fildset para outro*/
  display: flex;
  flex-direction: column;
  gap: 48px;  
}

fieldset{
  border: none;
}

/*Config para que haja espaçamento e entre os itens dentro do formulario
 e fique um abaixo do outro*/
.fildset-wrapper{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/*configuração para o título do findset (o Informações do evento)*/
fieldset legend{
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;

  width: 100%;
  border-bottom: 1px solid #E6E6F0;
  padding-bottom: 16px;
}
  
/*Configuração para que o label fique em cima do input e não ao lado (alterando a classe)*/
.input-wrapper{
  display: flex;
  flex-direction: column;
}  

.input-wrapper label,
.checkbox-wrapper label{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 24px; 
  color: #4E4958;
  margin-bottom: 8px;
  margin-top: 24px;
}

.input-wrapper label span{
  margin-left: 12px;
  font-size: 12px;
  line-height: 20px;
  color: #c3c2c6;
}

.input-wrapper label span:hover{
  color: #636363;
}

.input-wrapper input, 
.input-wrapper textarea,
.input-wrapper select{
  background-color: #FAFAFC;
  border-radius: 8px;
  border: 1px solid #E6E6F0;

  height: 56px;
  padding: 0 24px;
  font-size: 16px;
  line-height: 26px;
  color: #656468;
}

.input-wrapper textarea{
  padding: 0;
  height: 168px;
}

/*Essa config é para retirar a setinha feia no select e colocar a imagem de setinha que queremos */
.input-wrapper select{
  appearance: none;
  -webkit-appearance: none;

  /*pegamos a imagem do figma e procuramos o site https://yoksel.github.io/url-encoder/ */
  /*para converter o svg para url imagem depois retiramos a repetição e posicionamos*/
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_54)'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_54'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: right 24px top 50%;
}

/*Acessando a classe do dia e hora que necessita que fuja do padrão de 2 colunas para 3 colunas*/
.columns-3{
  display: flex;
  gap: 20px;
}

/*Nessa tag estamos pedindo que dentro da classe .columns-3 queremos as tags div pelos sinal (>)
e queremos a primeira div de todas dentro da div .columns-3 com a função nth-child()*/
.columns-3 > div:nth-child(1){
  width: 100%;
}

/*Estamos pedindo para que a sua posição fique relativa ao checkbox input para ficar atrás do nosso novo check-box por causa da acessibilidade*/
.checkbox-wrapper{
  position: relative;
}

/*Fazendo com que o checkbox do navegador fique atras do nosso estilizado.*/
.checkbox-wrapper input{
  /*display: none; usado para sumir inicialmente agora quero ele atras no nosso que fizemos por causa da leitura de tela e mexer com o tab*/
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;

  /*deixando o checkbox invisivel*/
  opacity: 0;
}

.checkbox-wrapper label{
  display: flex;
  align-items: center;
  margin: 0;
  margin-top: 24px;
  gap: 16px;
}

/*quando retiramos o input estamos criando um outro input dentro do label com a tag before(antes)*/
.checkbox-wrapper label::before{
  content: '';
  width: 24px;
  height: 24px;
  display: block;
  border: 1px solid #E6E6F0;
  border-radius: 8px;
}

.checkbox-wrapper input:checked + label::before{
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1805_14)'%3E%3Cpath d='M9 16.17L4.83 12L3.41 13.41L9 19L21 7L19.59 5.59L9 16.17Z' fill='%2342D3FF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1805_14'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");  
}

.checkbox-wrapper input:focus + label::before{
  outline: 1px solid black;
}

footer{
  height: 136px;
  background-color: #F0F0F4;

  /*usado para acrescentar o preenchimento cinza atrás do botão*/
  padding: 40px 64px;
  /*usado para acrescentar uma distancia para o fim da página*/
  margin-bottom: 100px;

  /*Fazendo a borda de divisão entre o formulário e o footer. Como está sendo feita no footer tem que ser top para ficar em cima*/
  border-top: 1px solid #D6D6D6;
  /*Fazendo o arredondamento dos cantos inferiores*/
  border-radius: 0 0 8px 8px;

  display: flex;
  flex-direction: column;
}

footer .button{
  height: 56px;
  border-radius: 8px;
  border: 0;
  background-color: #04D361;

  /*Config de letra dos botões*/
  font-family: 'Archivo', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: white;
}

footer .button:hover{
  background-color: #1d9252;
}