/*zerando as margens e o preenchimento e pedindo para calcular as caixas automaticamente*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, button, select, textarea{
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #E5E5E5;
}

/* a tag before que uma tag para se fazer elementos anterior ao body e o z-indez coloca ele 
atras de tudo pq manda ele para a camada mais baixa*/
body::before{
  /*É necessario criar um objeto vazio para a criação da forma retangular*/
  content: '';
  width: 100%;
  height: 368px;
  background-color: #121214;

  /*É necessario criar o objeto definindo a sua posição*/
  position: absolute;
  top: 0;
  left: 0;
  
  /* Z index é a tag para definir aonde esse objeto vai se encontrar no plano carteziano 
  no nosso caso é necessário que se encontre atras do texto por isso ele recebe -1*/
  z-index: -1;
}

.page{
  width: 736px;
  margin: 0 auto;
}

header{
  width: 319px;
  margin-top: 74px;
}

header h1{
  font-family: 'Archivo', sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: white;
}

header p{
  margin-top: 24px;
  line-height: 36px;
  font-size: 16px;
  color: #42D3FF;
}

form{
  margin-top: 38px;
  background-color: #FAFAFC;
  min-height: 300px;
  border-radius: 8px;
  padding: 64px;
  
  /*utilizado para distanciar um fildset para outro*/
  display: flex;
  flex-direction: column;
  gap: 48px;  
}

fieldset{
  border: none;
}

/*Config para que haja espaçamento e entre os itens dentro do formulario
 e fique um abaixo do outro*/
.fildset-wrapper{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/*configuração para o título do findset (o Informações do evento)*/
fieldset legend{
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;

  width: 100%;
  border-bottom: 1px solid #E6E6F0;
  padding-bottom: 16px;
}
  
/*Configuração para que o label fique em cima do input e não ao lado (alterando a classe)*/
.input-wrapper{
  display: flex;
  flex-direction: column;
}  

.input-wrapper label,
.checkbox-wrapper label{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 24px; 
  color: #4E4958;
  margin-bottom: 8px;
  margin-top: 24px;
}

.input-wrapper label span{
  margin-left: 12px;
  font-size: 12px;
  line-height: 20px;
  color: #c3c2c6;
}

.input-wrapper label span:hover{
  color: #636363;
}

.input-wrapper input, 
.input-wrapper textarea,
.input-wrapper select{
  background-color: #FAFAFC;
  border-radius: 8px;
  border: 1px solid #E6E6F0;

  height: 56px;
  padding: 0 24px;
  font-size: 16px;
  line-height: 26px;
  color: #656468;
}

.input-wrapper textarea{
  padding: 0;
  height: 168px;
}

/*Essa config é para retirar a setinha feia no select e colocar a imagem de setinha que queremos */
.input-wrapper select{
  appearance: none;
  -webkit-appearance: none;

  /*pegamos a imagem do figma e procuramos o site https://yoksel.github.io/url-encoder/ */
  /*para converter o svg para url imagem depois retiramos a repetição e posicionamos*/
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_54)'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_54'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: right 24px top 50%;
}

/*Acessando a classe do dia e hora que necessita que fuja do pardrão para o padrão de 3 colunas*/
.columns-3{
  display: flex;
  gap: 20px;
}

.columns-3 > div:nth-child(1){
  width: 100%;
}

.checkbox-wrapper{
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.checkbox-wrapper input{
  display: none;
}

.checkbox-wrapper label{
  display: flex;
  margin: 0;
}

.checkbox-wrapper input{
  content: '';
  width: 24px;
  height: 24px;
  display: block;
  border: 1px solid #E6E6F0;
  border-radius: 8px;
}

